@{ 
    Layout = null;
    List<LandRecord> list = ViewBag.List;
}

<h3>&nbsp;违法用地</h3>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>录入时间</th>
            <th>查处文号</th>
            <th>违法用地面积【亩】</th>
            <th>合法用地面积【亩】</th>
            <th>百分比</th>
            <th>应扣分值</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in list)
        {
            <tr>
                <td>@(item.CreateTime)</td>
                <td>@(item.Code)</td>
                <td>@(item.IllegalArea)</td>
                <td>@(item.Area)</td>
                <td>
                    @(Math.Round(item.IllegalArea / item.Area * 100, 2))
                </td>
                <td>@(item.Score)</td>
                <td>
                    @if (item.State == LandRecordState.Enter)
                    {
                        <a href="/LandRecord/Relieve?id=@(item.ID)" class="btn btn-info btn-xs" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-flag"></i>&nbsp;解除</a>
                    }
                    else
                    {
                        <a href="/LandRecord/CancelRelieve?id=@(item.ID)" class="btn btn-success btn-xs" name="Relieve"><i class="glyphicon glyphicon-flag"></i>&nbsp;撤销解除</a>
                    }
                    <a class="btn btn-default btn-xs" href="/File/Create?sid=@(item.ID)&&Type=@(FileType.LandRecord)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-plus-sign"></i>录入资料</a>
                    <a class="btn btn-success btn-xs" href="/File/DetailWindows?sid=@(item.ID)&&Type=@(FileType.LandRecord)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-eye-open"></i>查看资料</a>
                    <a class="btn btn-primary btn-xs" href="/File/Edit?sid=@(item.ID)&&Type=@(FileType.LandRecord)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-edit"></i>资料管理</a>
                </td>
            </tr>
        }
    </tbody>
</table>
