
@{
    ViewBag.Title = "企业管理";
    List<Enterprise> list = ViewBag.List;
    Layout = "~/Views/Shared/_Layout.cshtml";
    EnterpriseParameter parameter = ViewBag.Parameter;
    List<string> types = ViewBag.Types;
    int serial = 1;
}

<div class="page-header">
    <h2>
        &nbsp;企业管理&nbsp;&nbsp;&nbsp;&nbsp;
        @if (Identity.IsAuthenticated && Identity.Role > UserRole.Guest)
        {
            <a class="btn btn-primary" href="/Enterprise/Create" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-plus"></i>添加企业信息</a>
            <a class="btn btn-primary" href="/Enterprise/File" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-file"></i>导入Excel文件</a>
            <a class="btn btn-primary" href="/Enterprise/Download"><i class="glyphicon glyphicon-download-alt"></i>&nbsp;下载企业数据文件</a>
            
        }
        <a class="btn btn-primary" href="/Grade/StatisticEnterprise" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-picture"></i>&nbsp;统计图表</a>
    </h2>
</div>


<div class="row">
    <div class="col-md-2 well">
        <fieldset><legend>查询设置</legend></fieldset>
        @{ 
            Html.RenderPartial("_Message");
        }

        <form method="get">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">&nbsp;企业名称：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Name)?"success":"default")" name="Name">全部</button>
                                </div>
                                <input type="text" name="Name" placeholder="企业关键字" class="form-control" value="@(parameter.Name)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp; 信用等级：</label>
                        <div class="col-md-12">
                            <select name="Degree" class="form-control">
                                <option value="" @(parameter.Degree.HasValue?"":"selected=selected")>全部</option>
                                @foreach(GradeDegree degree in Enum.GetValues(typeof(GradeDegree)))
                                {
                                    <option value="@(degree)" @(parameter.Degree.HasValue&&parameter.Degree.Value==degree?"selected=selected":"")>@(degree.ToString())</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;组织机构代码：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.OIBC)?"success":"default")" name="OIBC">全部</button>
                                </div>
                                <input type="text" name="OIBC" placeholder="组织机构代码" class="form-control" value="@(parameter.OIBC)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;统一社会信用代码：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.USCC)?"success":"default")" name="USCC">全部</button>
                                </div>
                                <input type="text" name="USCC" placeholder="统一社会信息代码" class="form-control" value="@(parameter.USCC)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;企业法人：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Lawyer)?"success":"default")" name="Lawyer">全部</button>
                                </div>
                                <input type="text" name="Lawyer" placeholder="企业法人" class="form-control" value="@(parameter.Lawyer)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;营业执照/注册号：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Number)?"success":"default")" name="Number">全部</button>
                                </div>
                                <input type="text" name="Number" placeholder="营业执照/注册号" class="form-control" value="@(parameter.Number)" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;企业类型：</label>
                        <div class="col-md-12">
                            <select name="Type" class="form-control">
                                <option value="" @(string.IsNullOrEmpty(parameter.Type)?"selected=selected":"")>全部</option>
                                @foreach(var type in types)
                                {
                                    <option value="@(string.IsNullOrEmpty(type)?"NULL": type)" @(!string.IsNullOrEmpty(parameter.Type)&&parameter.Type==type?"selected=selected":"")>@(string.IsNullOrEmpty(type)?"空":type)</option>
                                }
                            </select>

                            @*<div class="input-group input-group-sm" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Type)?"success":"default")" name="Type">全部</button>
                                </div>
                                <input type="text" name="Type" placeholder="企业类型" class="form-control" value="@(parameter.Type)" />
                            </div>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;注册资本：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm">
                                <input type="text" name="MinMoney" placeholder="最小值" class="form-control" value="@(parameter.MinMoney.HasValue?parameter.MinMoney.Value.ToString():"")" />
                                <span class="input-group-addon">至</span>
                                <input type="text" name="MaxMoney" placeholder="最大值" class="form-control" value="@(parameter.MaxMoney.HasValue?parameter.MaxMoney.Value.ToString():"")"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;联系人：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Contact)?"success":"default")" name="Contact">全部</button>
                                </div>
                                <input type="text" name="Contact" placeholder="联系人" class="form-control" value="@(parameter.Contact)" />
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label">&nbsp;查询:</label>
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-search"></i> 立即查询</button>
                                <button type="button" class="btn btn-sm btn-default" onclick="history.back();"><i class="glyphicon glyphicon-arrow-left"></i>返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-10">
        <table class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>企业名称</th>
                    <th>诚信评价</th>
                    <th>统一社会信用代码</th>     
                    <th>企业法人</th>                
                  
                    <th>企业类型</th>
                    <th>注册资本【万元】</th>
                    <th>联系人名字</th>
                    <th>联系电话</th>
                    @if (Identity.Role > UserRole.Guest)
                    {
                        <th>操作</th>
                    }
                  
                </tr>
            </thead>
            <tbody>
                @foreach(var item in list)
                {
                    <tr>
                        <td>@(serial++)</td>
                        <td>
                            <a href="/Enterprise/Detail?id=@(item.ID)">
                                @if (item.Name.Length > 20)
                                {
                                    <abbr title="@(item.Name)">@(item.Name.Substring(0,20))</abbr>
                                }
                                else
                                {
                                    @(item.Name)
                                }
                            
                            </a>
                        </td>
                        <td style="padding:0px;">
                            <h3 style="margin-top:5px;">
                                @switch (item.Degree)
                                        {
                                            case GradeDegree.A:
                                        <label class="label label-success">@(item.Degree.ToString())</label>
                                        break;
                                    case GradeDegree.B:
                                        <label class="label label-primary">@(item.Degree.ToString())</label>
                                        break;
                                    case GradeDegree.C:
                                        <label class="label label-warning">@(item.Degree.ToString())</label>
                                        break;
                                    case GradeDegree.D:
                                        <label class="label label-danger">@(item.Degree.ToString())</label>
                                        break;
                                }
                            </h3>
                        </td>
                        <td>@(item.USCC)</td>
                        <td>@(item.Lawyer)</td>
                        <td>@(item.Type)</td>
                        <td>@(item.Money)</td>
                        <td>@(item.Contact)</td>
                        <td>@(item.TelPhone)</td>
                        @if (Identity.Role > UserRole.Guest)
                        {
                            <td>
                                @if (item.LawyerID.HasValue)
                                {
                                    <a class="btn btn-primary btn-xs" href="/Lawyer/detail?id=@(item.LawyerID.Value)"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;查看自然人</a>
                                }
                                <a class="btn btn-warning btn-xs" href="/LandRecord/Create?systemdata=@(SystemData.Enterprise)&&elid=@(item.ID)&&name=@(item.Name)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-screenshot"></i>违法用地</a>
                                <a class="btn btn-primary btn-xs" href="/Enterprise/Create?id=@(item.ID)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-edit"></i>编辑</a>
                                <a class="btn btn-danger btn-xs" href="/Enterprise/Delete?id=@(item.ID)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-remove-circle"></i>删除</a>
                            </td>
                        }
                      
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_pagination", ViewBag.Page as object)
    </div>
</div>
