
@{
    ViewBag.Title = "自然人管理";
    Layout = "~/Views/Shared/_LayoutIN.cshtml";
    List<Lawyer> list = ViewBag.List;
    LawyerParameter parameter = ViewBag.Parameter;

    var request = Request.Url.PathAndQuery;
    request= HttpUtility.UrlEncode(request);
    var serial = 1;
}

<div class="page-header">
    <h2>
        &nbsp;自然人管理&nbsp;&nbsp;&nbsp;&nbsp;
        @if (Identity.IsAuthenticated && Identity.Role > UserRole.Guest)
        {
            <a class="btn btn-primary" href="/Lawyer/Create?url=@(request)" data-toggle="modal" data-target="#Modal"><i class="fa fa-plus"></i>添加自然人信息</a>
            <a class="btn btn-success waves-effect waves-light" href="/Lawyer/File" data-toggle="modal" data-target="#Modal"><i class="fa fa-file"></i>导入Excel文件</a>
            <a class="btn btn-info waves-effect waves-light" href="javascript:void(0)"><i class="fa fa-download"></i>&nbsp;下载自然人文件</a>
          
        }
        <a class="btn btn-warning waves-effect waves-light" href="/Grade/StatisticLawyer" data-toggle="modal" data-target="#Modal"><i class="fa fa-picture-o"></i>&nbsp;统计图表</a>
    </h2>
</div>


<div class="row">
    <div class="col-md-3 well">
        <fieldset><legend>查询设置</legend></fieldset>
        @{ 
            Html.RenderPartial("_Message");
        }
        <form method="get">
            <div class="row">
                <div class="col-md-12">
                    <input type="hidden" name="Sex" />
                    <div class="form-group">
                        <label class="control-label">&nbsp;姓名：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm" role="group">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Name)?"success":"default")" name="Name">全部</button>
                                </div>
                                <input type="text" name="Name" placeholder="姓名关键字" class="form-control"  value="@(parameter.Name)"/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;信用级别：</label>
                        <div class="col-md-12">
                            <select name="Degree" class="form-control">
                                <option value="" @(parameter.Degree.HasValue?"":"selected=selected")>全部</option>
                                @foreach(GradeDegree degree in Enum.GetValues(typeof(GradeDegree)))
                                {
                                    <option value="@(degree)" @(parameter.Degree.HasValue&&parameter.Degree.Value==degree?"selected=selected":"")>@(degree.ToString())</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">&nbsp;性别：</label>
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-sm btn-@(parameter.Sex.HasValue?"default":"success")" name="Sex">全部</button>
                                @foreach(Sex sex in Enum.GetValues(typeof(Sex)))
                                {
                                    <button type="button" class="btn btn-sm btn-@(parameter.Sex.HasValue&&parameter.Sex.Value==sex?"success":"default")" name="Sex">@(sex.GetDescription())</button>
                                }
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label">&nbsp;出生年月日：</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.BornTime)?"success":"default")" name="BornTime">全部</button>
                                </div>
                                <input type="text" name="BornTime" placeholder="出生年月日" class="form-control" value="@(parameter.BornTime)" />
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label">&nbsp;证件编号:</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Number)?"success":"default")" name="Number">全部</button>
                                </div>
                                <input type="text" name="Number" placeholder="证件编号" class="form-control" value="@(parameter.Number)" />
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label">&nbsp;联系地址:</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Address)?"success":"default")" name="Address">全部</button>
                                </div>
                                <input type="text" name="Address" placeholder="联系地址" class="form-control"  value="@(parameter.Address)"/>
                            </div>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label">&nbsp;联系电话:</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.TelPhone)?"success":"default")" name="TelPhone">全部</button>
                                </div>
                                <input type="text" name="TelPhone" placeholder="联系电话" class="form-control" value="@(parameter.TelPhone)" />
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label">&nbsp;电子邮箱:</label>
                        <div class="col-md-12">
                            <div class="input-group input-group-sm">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-@(string.IsNullOrEmpty(parameter.Email)?"success":"default")" name="Email">全部</button>
                                </div>
                                <input type="text" name="Email" placeholder="电子邮箱" class="form-control" value="@(parameter.Email)"/>
                            </div>
                        </div>
                    </div>*@
                    <br />
                    <div class="form-group">
                        <label class="control-label">&nbsp;查询:</label>
                        <div class="col-md-12">
                            <div class="btn-group" role="group">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> 立即查询</button>
                                <button type="button" class="btn btn-sm btn-default" onclick="history.back();"><i class="fa fa-arrow-left"></i>返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-9">
        <table class="table table-hover table-striped table-sm">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>信用级别</th>
                    <th>性别</th>
                    <th>证件类型</th>
                    <th>证件编号</th>
                    <th>联系电话</th>
                    @if (Identity.IsAuthenticated && Identity.Role > UserRole.Guest)
                    {
                        <th>操作</th>
                    }
                  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in list)
                {
                    <tr>
                        <td>@(serial++)</td>
                        <td><a href="/Lawyer/Detail?id=@(item.ID)">@(item.Name)</a> </td>
                        <td style="padding:0px;">
                            <h3 style="margin-top:5px;">
                                @switch (item.Degree)
                                {
                                    case GradeDegree.A:
                                        <span class="badge badge-primary">@(item.Degree.ToString())</span>
                                        break;
                                    case GradeDegree.B:
                                        <span class="badge badge-info">@(item.Degree.ToString())</span>
                                        break;
                                    case GradeDegree.C:
                                        <span class="badge badge-warning">@(item.Degree.ToString())</span>
                                        break;
                                    case GradeDegree.D:
                                        <span class="badge badge-danger">@(item.Degree.ToString())</span>
                                        break;
                                }
                            </h3>
                        </td>

                        <td>@(item.Sex.GetDescription())</td>
                        <td>@(item.Credential.GetDescription())</td>
                        <td>@(item.Number)</td>
                        <td>@(item.TelPhone)</td>
                        @if (Identity.IsAuthenticated && Identity.Role > UserRole.Guest)
                        {
                            <td>
                                <div class="btn-group">
                                    <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn-sm" aria-expanded="false">操作<span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        @if (item.EnterpriseID.HasValue == false)
                                        {
                                            <li><a  href="/Lawyer/Translate?id=@(item.ID)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-briefcase"></i>&nbsp;录入企业</a></li>
                                        }
                                        else
                                        {
                                            <li><a  href="/Enterprise/Detail?id=@(item.EnterpriseID.Value)"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;查看企业</a></li>
                                        }
                                        <li class="divider"></li>
                                        <li><a  href="/LandRecord/Create?systemdata=@(SystemData.Lawyer)&&elid=@(item.ID)&&name=@(item.Name)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-screenshot"></i>违法用地</a></li>
                                        <li><a  href="/Lawyer/Create?id=@(item.ID)&&url=@(request)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-edit"></i>编辑</a></li>
                                        <li><a  href="/Lawyer/Delete?id=@(item.ID)" data-toggle="modal" data-target="#Modal"><i class="glyphicon glyphicon-remove-circle"></i>删除</a></li>
                                    </ul>
                                </div>
                            </td>
                        }
                      
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_pagination", ViewBag.Page as object)
    </div>
</div>

