@{ 

    Score score = ViewBag.Model;
    Layout = null;
}

<h3>&nbsp;信用级别</h3>
<table class="table table-striped table-condensed table-bordered">
    <tr>
        <th>信用级别：</th>
        <td>
            <h2 style="margin-top:5px;"><label class="label label-danger">@(score.Degree)</label></h2> 
        </td>
        <th>最终分值：</th>
        <td>@(score.DeDuck)</td>
    </tr>
    <tr>
        <th>购地次数：</th>
        <td>@(score.Times ?? 0)</td>
        <th>购地记录扣分值：</th>
        <td>@(score.ScoreValue??0)</td>
      
    </tr>
    <tr>
        <th>购地平均分值：</th>
        <td>@(score.Average)</td>
        <th>违法用地扣分值：</th>
        <td>@(score.Record??0)</td>
    
    </tr>
</table>
