@{ 
    Layout = null;
    Conduct conduct = ViewBag.Conduct;
    List<Standard> standards = ViewBag.Standards;
    SystemData? systemData = ViewBag.SystemData;
    Enterprise enterprise = systemData.HasValue && systemData.Value == SystemData.Enterprise ? ViewBag.Model : null;
    Lawyer lawyer = systemData.HasValue && systemData.Value == SystemData.Lawyer ? ViewBag.Model : null;
}

<div class="page-header">
    <h3 class="text-center">录入诚信行为</h3>
</div>


<form class="form-horizontal" action="" method="post" id="Conduct-form">
    @{ 
        Html.RenderPartial("_Message");
    }
    <div class="row">
        <div class="col-md-12">
            <input type="hidden" name="ID" value="@(conduct!=null?conduct.ID:0)" />

            @if (systemData.HasValue)
            {
                <input type="hidden" name="SystemData" value="@(systemData.Value)" />
                if (systemData.Value == SystemData.Enterprise)
                {
                   <input type="hidden" name="DataID" value="@(enterprise != null ? enterprise.ID : 0)" />
                    <div class="form-group">
                        <label class="control-label col-md-4">企业名称：</label>
                        <div class="col-md-7">
                            <input type="text" name="" class="form-control" value="@(enterprise!=null?enterprise.Name:"")" readonly />
                        </div>
                    </div>
                }
                else
                {
                    <input type="hidden" name="DataID" value="@(lawyer!=null?lawyer.ID:0)" />
                    <div class="form-group">
                        <label class="control-label col-md-4">自然人姓名：</label>
                        <div class="col-md-7">
                            <input type="text" name="" class="form-control" value="@(lawyer!=null?lawyer.Name:"")" readonly />
                        </div>
                    </div>
                }
            }
            else
            {
                <input type="hidden" name="DataID" value="@(conduct!=null?conduct.DataId:0)" />
                <div class="form-group">
                    <label class="control-label col-md-4">诚信企业/自然人：</label>
                    <div class="col-md-7">
                        @foreach (SystemData data in Enum.GetValues(typeof(SystemData)))
                        {
                            <label class="radio-inline">
                                <input type="radio" name="SystemData" value="@(data)" />@(data.GetDescription())
                            </label>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4">企业名称/姓名：</label>
                    <div class="col-md-7">
                        <input type="text" name="Name" class="form-control" placeholder="关键字" onkeyup="ShowResult(this.value)" />
                        <br />
                        <select multiple class="form-control" name="Result">

                        </select>
                    </div>
                    
                </div>
                
            }
         
            <div class="form-group">
                <label class="control-label col-md-4">诚信行为等级：</label>
                <div class="col-md-7">
                    <select name="Degree" class="form-control">
                        <option value="">请选择</option>
                        @foreach(CreditDegree degree in Enum.GetValues(typeof(CreditDegree)))
                        {
                            <option value="@(degree)" @(conduct!=null&&conduct.Degree==degree?"selected=selected":"")>@(degree.GetDescription())</option>
                        }
                    </select>
     
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">环节：</label>
                <div class="col-md-7">
                    <select name="Credit" class="form-control">
                        <option value="">请选择</option>
                        @foreach(Credit credit in Enum.GetValues(typeof(Credit)))
                        {
                            <option value="@(credit)" @(conduct!=null&&conduct.Credit==credit?"selected=selected":"")>@(credit.GetDescription())</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">诚信行为：</label>
                <div class="col-md-7">
                    <select name="StandardId" class="form-control">
                        <option>请选择</option>
                        @if (conduct != null && standards != null)
                        {
                            foreach(var item in standards)
                            {
                                <option value="@(item.ID)" @(conduct.StandardId==item.ID?"selected=selected":"")>@(item.Name)</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">分值：</label>
                <div class="col-md-7">
                    <input type="text" name="Score" class="form-control" placeholder="分值" value="@(conduct!=null?conduct.Score.ToString():"")" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">备注：</label>
                <div class="col-md-7">
                    <textarea name="Remark" class="form-control" rows="3">@(conduct!=null?conduct.Remark:"")</textarea>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-7 col-md-offset-4">
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-ok"></i>保存</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove-circle"></i>&nbsp; 取消</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function ShowResult(key) {
        var systemdata = $("input[type='radio'][name='SystemData']").val();
        if (systemdata == undefined) {
            return;
        }
        var result = $("select[name='Result']");
        $.getJSON("/Conduct/Search?systemData=" + systemdata + "&&key=" + key, null, function (data) {
            result.empty();
            $.each(data, function (key, val) {
                result.append('<option value="'+val.ID+'">'+val.Name+'</option>')
            });
        });
    }

    $(function () {
        $("#input[name='SystemData']").change(function () {
            $("input[name='Name']").val("");
            $("select[name='Result']").empty();
            $("input[name='DataID']").val("");
        });

        $("select[name='Result']").change(function () {
            var id = $(this).val();
            console.log(id);
            var name = $(this).find("option:selected").text();
            console.log(name);
            $("input[name='DataID']").val(id);
            $("input[name='Name']").val(name);
        });
        $("#Conduct-form").submit(function () {
            var button = $("#Conduct-form button[type='submit']");
            button.text("正在保存").attr("disabled", "disabled");
            ShowMessage("正在保存，请稍等......");
            var data = $(this).serialize();
            $.request("/Conduct/Create", data, function (json) {
                if (json.result == 0) {
                    ShowErrorMessage(json.content);
                    button.text("保存").removeAttr("disabled");
                } else {
                    ShowSuccessMessage("成功保存");
                    location.href = "@(systemData.HasValue?systemData.Value==SystemData.Enterprise?"/Enterprise/detail?id="+enterprise.ID:"/Lawyer/Detail?id="+lawyer.ID:"")";
                }
            });
            return false;
        });

        $("select[name='Credit']").change(function () {
            var val = $(this).val();
            var select=$("select[name='StandardId']");
            $.getJSON("/Conduct/GetStandard?credit="+val, null, function (data) {
                var items = [];

                select.empty().append('<option>请选择</option>');
                $.each(data, function (key, val) {
                    select.append('<option value="' + val.ID + '">' + val.Name + '</option>');
                    // items.push('<option value="' + val.ID + '">' + val.Name + '</option>');
                });
            });
        });




    });
</script>
