@{ 
    if (Model == null)
    {
        return;
    }
    List<FlowNodeView> list = Model as List<FlowNodeView>;
    if (list == null)
    {
        return;
    }
}

<ul class="list-group">
    @foreach(var item in list)
    {
        <li class="list-group-item">
            时间：&nbsp;@(item.CreateTime.ToString("yyyy-MM-dd"))&nbsp;
            <a href="@(item.SystemData==SystemData.Enterprise?"/Enterprise/Detail?id="+item.DataId:"/Lawyer/Detail?id="+item.DataId)">

                @(item.SystemData.GetDescription()):
                &nbsp; <strong>@(item.Name)</strong>
            </a>
            &nbsp;在&nbsp;@(item.Credit.GetDescription())
            &nbsp;环节&nbsp;<strong>@(item.sName)</strong>中&nbsp;
            &nbsp;<strong><label class="label @(item.Degree==CreditDegree.Bad?"label-danger":item.Degree==CreditDegree.Good?"label-success":"label-warning")">@(item.Degree.GetDescription())</label> </strong>
            &nbsp; 得分：&nbsp;@(item.Score)

            @if (item.State.HasValue&&item.UpdateTime.HasValue)
            {
                <u>
                    &nbsp;&nbsp;&nbsp;  审核结果：<strong>@(item.State.Value.GetDescription())</strong> 
                    &nbsp;审核人：<strong>@(item.UserName)</strong> 
                    &nbsp;审核时间：@(item.UpdateTime.Value.ToString("yyyy-MM-dd"))
                    &nbsp;审核备注：@(item.Content)
                </u>
            }
            else
            {
                <text>&nbsp;未提交审核</text>
            }
        </li>
    }
</ul>