@{ 
    Layout = null;
    List<LandView> list = ViewBag.List;
}


<h3>&nbsp;供地信息</h3>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>项目名称</th>
            <th>电子监管号</th>
            <th>合同编号</th>
            <th>宗地编号</th>
            <th>供应方式</th>
            <th>批准文号</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in list)
        {
            <tr>
                <td><a href="/Land/Detail?id=@(item.ID)">@(item.Name)</a> </td>
                <td>@(item.Number)</td>
                <td>@(item.ContractNumber)</td>
                <td>@(item.LandNumber)</td>
                <td>@(item.Way.HasValue?item.Way.Value.GetDescription():" ")</td>
                <td>@(item.Code)</td>
                <td>

                </td>
            </tr>
        }
    </tbody>
</table>